body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

nav {
    background: #020617;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

header {
    text-align: center;
    padding: 60px 20px;
    background: #1e293b;
}

button {
    background: #3b82f6;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
}

section {
    padding: 30px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

#preview {
    max-width: 300px;
    margin-top: 20px;
    display: none;
    border-radius: 10px;
}
