body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

nav {
    background: #020617;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

nav h2 {
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    color: #38bdf8;
    text-decoration: none;
}

header {
    text-align: center;
    padding: 80px 20px;
    background: #1e293b;
}

button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #1d4ed8;
    transform: scale(1.05);
}

section {
    padding: 40px 20px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(255,0,0,0.15);
}

footer {
    background: #020617;
    text-align: center;
    padding: 30px;
}

/* วงแสงรอบโลโก้ */

.logo-container{
    position: relative;
    width: 220px;
    height: 220px;
    margin: auto;
}

.logo-container::before{
    content: "";
    position: absolute;
    inset: -10px;
    border-radius: 50%;

    background: conic-gradient(
        transparent,
        red,
        #ff3b3b,
        red,
        transparent
    );

    animation: rotateRing 2s linear infinite;

    filter: blur(10px);
}

.logo{
    position: relative;
    z-index: 2;
    width: 220px;
    display: block;
    margin: auto;
}

@keyframes rotateRing {

    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }

}
